.jumbotron {
    background: #0F2027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 30vh;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center !important;
    align-items: center;
    letter-spacing: 2px;
    font-size: 1.3em;
}

section {
    margin-top: 100px;
}

section>h2 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 3em;
    letter-spacing: 2px;
    margin-bottom: 50px;
}