@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
section>h2 {
    text-align: center;
    font-weight: bold;
    font-size: 3em;
    letter-spacing: 2px;
    margin-bottom: 50px;
    color: whitesmoke;
    font-family: 'Permanent Marker', cursive;
}

section {
    padding-top: 100px;
}